.node {
    padding: 15px 35px;
    background-color: rgba(255, 124, 146, 0.034);
    margin-bottom: 50px;
    border-top: 4px solid var(--color-blue);
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */

    --webkit-box-shadow: var(--box-shadow-primary);
    -moz-box-shadow: var(--box-shadow-primary);
    box-shadow: var(--box-shadow-primary);
}

.node:last-child {
    margin-bottom: 0;
}

.title {
    white-space: nowrap;
    font-weight: 500;
    font-size: 15px;
}
