.graph_columns {
    display: flex;
}

.graph_columns_item {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.graph_columns_item:last-child {
    margin-right: 0;
}
