.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--global-wrapper);
    width: 100%;
    padding: var(--safe-padding);
    margin: 0 auto;
}

.not_choosed {
    margin-top: 25px;
    font-size: 18px;
    color: gray;
}
